/* Documentation for the type-pfbooklists styles.  This is set in the staff-picks view.  Look Under the Title and Body fields for type-[type].  The type variable is for the node type.  I set the pfbooklists type in the view under the Printer Friendly Page display.  It is set in the fields for node title and a few others.  The printer friendly display is also where I set the path pf/staff-picks... */


body {
  margin: 1em; 
  background-color: #fff;
  font-family: sans-serif;
	letter-spacing: -.5px;
}
th {
  text-align: left; /* LTR */
  color: #006;
  border-bottom: 1px solid #ccc;
}
tr.odd {
  background-color: #ddd;
}
tr.even {
  background-color: #fff;
}
td {
  padding: 5px;
}
#menu {
  visibility: hidden;
}
#main {
  margin: 1em;
}


a:link.type-pfbooklists {color: #000; font-weight: bold; font-size: 12px;}
a:visited.type-pfbooklists {color: #000; font-weight: bold; font-size: 12px;}
a:hover.type-pfbooklists {color: #00f; font-weight: bold; font-size: 12px;}
a:link {color: #000;}
a:visited {color: #000;}
a:hover {color: #00f;}
a:link img, a:visited img {border: 0;}
.print-footnote {font-size: 8px;}
img.print-logo {border: 0; 
	margin: 0;
	max-width: 225px;}
.print-site_name {font-size: 12px;}
.print-breadcrumb {font-size: 9px;}
.print-title {}
.print-submitted {font-size: 12px;}
.print-created {font-size: 12px;}
.print-taxonomy {
  text-align: right;
}

span.type-pfbooklists {font-size:12px;}

.print-taxonomy li {display: inline;}
.print-content {}
.print-hr {
  border: 0;
  height: 1px;
  width: 100%;
  margin: 1px;
  color: #9E9E9E;
  background-color: #9E9E9E;
}

p {	
	margin-top: 0px; 
	margin-bottom: 2px;
}

.print-message {
  border: medium dotted blue;
  padding: 1em;
}
.print-source_url {font-size: 12px;}
.print-links {font-size: 12px;}
.print-footer {visibility: hidden;}


h1.pf-title {font-size: 22px;
	margin-top: 6px;
	margin-bottom: 8px;}
h3 {font-size: 16px;
	margin-bottom: 6px;}

div.staff-picks-print .view-footer {
	display:none;
}